# пробные функции

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs
import re
from tqdm import trange, tqdm

In [2]:
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_columns', 1000)

In [3]:
df = pd.read_csv('csv\hi_prod.csv')
df

,Unnamed: 0,soup_name,id,date,availability,title,price,old_price,action_sale,sale,category,subcategory,group,count_group,count_group_presence,dif_price,brend
0,0,https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-cr1220-01/,Т-000088228,2024-05-08,В наличии,Батарейка Energenie EG-BA-CR1220-01,4.0,NaN,0,NaN,televizory-i-elektronika,batareyki-i-zaryadnye-ustroystva,batareyki-i-zaryadnye-ustroystva,78,77,199.75,energenie
1,1,https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-cr2016-01/,Т-000088229,2024-05-08,В наличии,Батарейка Energenie EG-BA-CR2016-01,4.0,NaN,0,NaN,televizory-i-elektronika,batareyki-i-zaryadnye-ustroystva,batareyki-i-zaryadnye-ustroystva,78,77,199.75,energenie
2,2,https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-aa4-01/,Т-000088221,2024-05-08,В наличии,Батарейка Energenie EG-BA-AA4-01,5.0,NaN,0,NaN,televizory-i-elektronika,batareyki-i-zaryadnye-ustroystva,batareyki-i-zaryadnye-ustroystva,78,77,199.75,energenie
3,3,https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-aaa4-01/,Т-000088222,2024-05-08,В наличии,Батарейка Energenie EG-BA-AAA4-01,5.0,NaN,0,NaN,televizory-i-elektronika,batareyki-i-zaryadnye-ustroystva,batareyki-i-zaryadnye-ustroystva,78,77,199.75,energenie
4,4,https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-cr2025-01/,Т-000088230,2024-05-08,В наличии,Батарейка Energenie EG-BA-CR2025-01,5.0,NaN,0,NaN,televizory-i-elektronika,batareyki-i-zaryadnye-ustroystva,batareyki-i-zaryadnye-ustroystva,78,77,199.75,energenie

In [4]:
def availability(df):
    for l, url in enumerate(df['soup_name'],0):        
        reqx = requests.get(url)
        soup = bs(reqx.text, 'html.parser')
        data = []
        element = soup.findAll('div', class_='ty-warehouses-store__availability')
        for i in element:
            data.append(i.text.strip().replace('В наличии', '1').replace('Под заказ (1-3 дня)','0'))
        data = pd.DataFrame(data)
        data = data.T
        data.columns = ['Тирасполь__Юности_14А', 'Центр_Тирасполь_25_Октября_69',
                'Центр_Бендеры_Спортивная_5', 'Бендеры_Советская_5',
                'Бендеры__Советская_8', 'Слободзея_Ленина_97А',
                'Днестровск_Строителей_18', 'Первомайск_Ленина_88',
                'Григориополь_К._Маркса_181А', 'Григориополь__К._Маркса_172',
                'Дубоссары_Горького_29', 'Рыбница_Вальченко_43/1', 'Рыбница_Кирова_135',
                'Каменка_Кирова_240']
        data['id'] = df['id']
        data = df.join(data,lsuffix='x_', rsuffix='y_')

    return data

In [5]:
df['soup_name']

0    https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-cr1220-01/
1    https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-cr2016-01/
2       https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-aa4-01/
3      https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-aaa4-01/
4    https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/batareyka-energenie-eg-ba-cr2025-01/
Name: soup_name, dtype: object

In [20]:
col = ['Тирасполь__Юности_14А', 'Центр_Тирасполь_25_Октября_69',
       'Центр_Бендеры_Спортивная_5', 'Бендеры_Советская_5',
       'Бендеры__Советская_8', 'Слободзея_Ленина_97А',
       'Днестровск_Строителей_18', 'Первомайск_Ленина_88',
       'Григориополь_К._Маркса_181А', 'Григориополь__К._Маркса_172',
       'Дубоссары_Горького_29', 'Рыбница_Вальченко_43/1', 'Рыбница_Кирова_135',
       'Каменка_Кирова_240']

In [6]:
reqx = requests.get('https://hi-tech.md/televizory-i-elektronika/batareyki-i-zaryadnye-ustroystva/bat.-panasonic-cr-1216el-1b/')

In [7]:
reqx

In [8]:
soup = bs(reqx.text, 'html.parser')

In [9]:
data = []
element = soup.findAll('div', class_='ty-warehouses-store__availability')
for i in element:
    data.append(i.text.strip().replace('В наличии', '1').replace('Под заказ (1-3 дня)','0'))
id = soup.findAll('div', class_='ty-warehouses-store__availability')ty-product-block__sku



data['id'] = 'Т-000037892'
data

,Тирасполь__Юности_14А,Центр_Тирасполь_25_Октября_69,Центр_Бендеры_Спортивная_5,Бендеры_Советская_5,Бендеры__Советская_8,Слободзея_Ленина_97А,Днестровск_Строителей_18,Первомайск_Ленина_88,Григориополь_К._Маркса_181А,Григориополь__К._Маркса_172,Дубоссары_Горького_29,Рыбница_Вальченко_43/1,Рыбница_Кирова_135,Каменка_Кирова_240,id
0,1,1,1,1,0,1,1,0,1,0,1,1,1,0,Т-000037892

In [10]:
nal = pd.DataFrame([t.text.strip().replace(' ','_') for t in soup.findAll('div', class_='ty-warehouses-store__availability')])
nal = nal.T
nal

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,В_наличии,В_наличии,В_наличии,В_наличии,Под_заказ_(1-3_дня),В_наличии,В_наличии,Под_заказ_(1-3_дня),В_наличии,Под_заказ_(1-3_дня),В_наличии,В_наличии,В_наличии,Под_заказ_(1-3_дня)

In [11]:
sity = pd.DataFrame({'sity' : [t.text.strip().replace('Хайтек ','').replace('Магазин ','')
                               .replace('Торговый ','').replace('Дом','').replace(' ','_').replace('-2','') 
                               for t in soup.findAll('a', class_='ty-warehouses-store__name')],
                     'adres' : [t.text.strip().replace(' ','_').replace(',','').replace('ул.','') 
                                for t in soup.findAll('div', class_='ty-warehouses-store__address')]})

In [12]:
sity['sity'] = sity['sity'] + sity['adres']

In [13]:
sity = sity['sity'].reset_index(drop=True)
sity.reset_index()

    index                           sity
0       0          Тирасполь__Юности_14А
1       1  Центр_Тирасполь_25_Октября_69
2       2     Центр_Бендеры_Спортивная_5
3       3            Бендеры_Советская_5
4       4           Бендеры__Советская_8
5       5           Слободзея_Ленина_97А
6       6       Днестровск_Строителей_18
7       7           Первомайск_Ленина_88
8       8    Григориополь_К._Маркса_181А
9       9    Григориополь__К._Маркса_172
10     10          Дубоссары_Горького_29
11     11         Рыбница_Вальченко_43/1
12     12             Рыбница_Кирова_135
13     13             Каменка_Кирова_240

In [14]:
sity

0             Тирасполь__Юности_14А
1     Центр_Тирасполь_25_Октября_69
2        Центр_Бендеры_Спортивная_5
3               Бендеры_Советская_5
4              Бендеры__Советская_8
5              Слободзея_Ленина_97А
6          Днестровск_Строителей_18
7              Первомайск_Ленина_88
8       Григориополь_К._Маркса_181А
9       Григориополь__К._Маркса_172
10            Дубоссары_Горького_29
11           Рыбница_Вальченко_43/1
12               Рыбница_Кирова_135
13               Каменка_Кирова_240
Name: sity, dtype: object

In [15]:
data = pd.DataFrame(columns=sity, data=nal.T)

In [16]:
t = pd.DataFrame(nal,columns=sity)

In [17]:
t.columns

Index(['Тирасполь__Юности_14А', 'Центр_Тирасполь_25_Октября_69',
       'Центр_Бендеры_Спортивная_5', 'Бендеры_Советская_5',
       'Бендеры__Советская_8', 'Слободзея_Ленина_97А',
       'Днестровск_Строителей_18', 'Первомайск_Ленина_88',
       'Григориополь_К._Маркса_181А', 'Григориополь__К._Маркса_172',
       'Дубоссары_Горького_29', 'Рыбница_Вальченко_43/1', 'Рыбница_Кирова_135',
       'Каменка_Кирова_240'],
      dtype='object', name='sity')